<!DOCTYPE html>
<html>

<head>
  <title>Student Attendance EJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/response-style.css">

</head>

<body>
  <h1><%= msg %></h1>
</body>

</html>
